# Ignore bundler config file.
/.bundle

# Ignore default SQLite DB.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all log and temp files.
/log/*.log
/tmp

# Ignore all other junk files.
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
